@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.z-bg {
  z-index: -1000;
}

.z-mid {
  z-index: 0;
}

.z-high {
  z-index: 1000;
}

.h-3\/4 {
  height: 75%;
}

.h-1\/2 {
  height: 50%;
}

.h-1\/3 {
  height: 33.33333333%;
}
